header {
    background-color: #f0f0f5;
    // padding: 10px 0;
    border-bottom: 1px solid #e7e7e7;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1879px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo img {
    height: 40px;
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation ul li {
    margin: 0 15px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .navigation ul li a:hover {
    color: #007bff;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-right: 10px;
    color: #333;
  }
  
  .user-icon {
    height: 30px;
    border-radius: 50%;
  }
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 200px;
    background-color: #522b7f;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .sidebar-logo img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .sidebar-navigation ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar-navigation ul li {
    width: 100%;
    text-align: center;
  }
  
  .sidebar-navigation ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
  }
  
  .sidebar-navigation ul li a:hover {
    background-color: #7349a3;
  }
  
  /* Main Content Styles */
  .main-content {
    flex-grow: 1;
    background-color: #f0f0f5;
    overflow-y: auto;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f5;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7e7;
  }
  
  .logo img {
    height: 40px;
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation ul li {
    margin: 0 15px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .navigation ul li a:hover {
    color: #007bff;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-right: 10px;
    color: #333;
  }
  
  .user-icon {
    height: 30px;
    border-radius: 50%;
  }