<header>
  <div class="header-container">
    <div class="logo">
      <a href="#"><img src="assets/logo.png" alt="BrokerEdge"></a>
    </div>
    <!-- <nav class="navigation">
      <ul>
        <li><a href="#">Policy Search</a></li>
      </ul>
    </nav> -->
    <div class="user-info">
      <span class="user-name">Raja Dhawan</span>
      <img class="user-icon" src="assets/user-icon.png" alt="User Icon">
    </div>
  </div>
</header>
<div class="container">
  <aside class="sidebar">
    <nav class="sidebar-navigation">
      <ul>
        <li>
          <a routerLink="/policy" (click)="togglePolicySearchMenu()">Policy Search</a>
          <ul *ngIf="isPolicySearchMenuOpen">
            <li><a routerLink="/claim-history" (click)="toggleClaimSearchMenu()">Claim</a></li>
            <!-- Add more sub-items as needed -->
            <ul *ngIf="isClaimSearchMenuOpen">
              <li><a routerLink="/part-labour">New Claim</a></li>
              <li><a routerLink="/invoice" >Performance Invoice</a></li>
              <li><a routerLink="/claim-manager" >Claim manager</a></li>
              <!-- Add more sub-items as needed -->
            </ul>
          </ul>
        </li>
        <li><a routerLink="/service-advisor">Service Advisor</a></li>
        <!-- Add other navigation items as needed -->
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
